@model ICT272_Assignment_3_Online_Tourism_Platform.Models.BookingStatus

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>BookingStatus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConfirmationStatus" class="control-label"></label>
                <select asp-for="ConfirmationStatus" class="form-control" asp-items="ViewBag.ConfirmationStatusList"></select>
                <span asp-validation-for="ConfirmationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatus" class="control-label"></label>
                <select asp-for="PaymentStatus" class="form-control" asp-items="ViewBag.PaymentStatusList"></select>
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>
            @if (ViewBag.BookingType == "Guided")
            {
                <input type="hidden" asp-for="GuidedTourBookingId" />
            }
            else if (ViewBag.BookingType == "Travel")
            {
                <input type="hidden" asp-for="TravelPackagesBookingId" />
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

